*{
	font-family: "sans-serif;", monospace;
	font-size: 17px;
}

h1{
	font-size: 50px;
}

#learn-this{
	text-transform: uppercase;
}

.languages {
	background-color: seagreen;
}

li[type='1']{
    border: 1px solid;
}

img + ul li {
    list-style: none;
    letter-spacing: 2px;
}

section img {
    width:100px;
}

ul ~ p {
	letter-spacing: 3px;
}